.pagination {
    display: flex;
    height: 30px;
    font-size: 12px;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.page__first {

}

.page__last {
    
}