.list{
    width: 280px;
    box-sizing: border-box;
    position:absolute;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 8px 0px rgb(35 44 58 / 25%);
    border: 1px solid rgba(134, 144, 152, 0.4);
}

.list_scrollable{
    overflow: hidden;
    overflow-y: scroll;
    height: 250px;
}

.li{
    display: flex;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.9);    
    line-height: 1.42857143;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    cursor: pointer;
}

.li:hover{
    background-color: rgba(0, 0, 0, 0.1);;
}