.wrapper {
  max-height: 400px;
  overflow-x: auto;
}

.online {
  background-color: rgba(0, 128, 0, 0.2);
}

.offline {
  background-color: rgba(0, 0, 0, 0);
}

.alarm {
  background-color: rgba(226, 0, 15, 0.2);
}

tr:hover > td > div > .controls {
  display: flex !important;
}

.controls > button {
  padding-left: 7px;
}
