.button {
  border: 1px solid var(--default);
  color: var(--default);
  height: 30px;
  width: max-content;
  padding: 0 9px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:hover {
  box-shadow: 1px 1px 5px 0px rgb(35 44 58 / 34%);
}

.label {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  margin-top: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button > svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.success {
  color: var(--success);
  border: 1px solid var(--success);
}

.info {
  color: var(--info);
  border: 1px solid var(--info);
}

.danger {
  color: var(--danger);
  border: 1px solid var(--danger);
}

button[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}