.table {
  border-collapse: separate;
  width: 100%;
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}

.header {
}

.body {
}

.row {
  height: 30px;
  font-size: 12px;
  vertical-align: middle;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.9);
  border-right: 1px solid #556172;
  border-bottom: 1px solid #556172;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.headercell {
  border: 1px solid black;
  border-collapse: collapse;
  height: 40px;
  cursor: pointer;
  line-height: 1.5;
  text-transform: uppercase;
  vertical-align: middle;
  padding: 0 8px;
  border-right: 1px solid #f9f9fa;
  background-color: #556172;
  color: #fff;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  font-family: "Glyphicons Halflings";
}

.bodycell {
  border: 1px solid black;
  border-collapse: collapse;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 8px;
}

.row:hover {
  background-color: rgb(220, 218, 218);
}